fastapi
psycopg2-binary
pydantic_settings
python-dotenv
pydantic
schedule
requests
sqlalchemy
alembic
uvicorn
asyncpg
openai
chromadb
langchain
langchain_community
langchain-community
langchain-openai
langchain_text_splitters
langchain-core
langchain-chroma